@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Plex';
  font-display: optional;
  src: url('/fonts/IBMPlexSans.var.latin-subset.woff2') format('woff2 supports variations'),
       url('/fonts/IBMPlexSans.var.latin-subset.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 25% 151%;
  unicode-range: U+000-5FF;
}


@tailwind utilities;

[x-cloak] {
    display: none !important;
  }

:root {
    --brand: rgb(11, 134, 235);
    --brand-alt: rgb(23, 161, 23);
}

@layer utilities {
  
    .hover-link:hover {
      cursor: pointer;
      text-decoration-thickness: 4px;
      text-decoration-line: underline;
      text-decoration-color: var(--brand);
    }


    .primary-button {
      @apply px-8 py-2 text-base font-semibold rounded-xl bg-pink-200 text-center cursor-pointer
    }
    
    .primary-button:hover {
      @apply bg-lime-300
    }
    
    
    .inactive-button {
      @apply px-4 py-2 font-bold rounded-xl text-black text-center 
    }

}
