<meta name="description" content="{{ description }}"/>
<meta name="keywords" content="{{ keywords }}" />
<link rel="canonical" href="{{ canonical }}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{ site.name }}",
    "url": "{{ site.baseUrl }}",
    "logo": "{{ site.logoUrl }}",
    "sameAs": ["{{ site.defaults.twitterUrl }}", "{{ site.defaults.linkedInURL }}", "{{ site.baseUrl }}"]
  }
</script>