---
permalink: /_headers
eleventyExcludeFromCollections: true
---
# a path:
/fonts/IBMPlexSans.var.latin-subset.woff2
  cache-control: public
  cache-control: max-age=31536000
  cache-control: immutable
# another path:
/about-us/*
  # headers for that path:
  d-header: bumble
