---
title: 'About Us'
summary: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
layout: _regular_page.njk
permalink: /about-us/
type: 'Article'
category: 'Strategy' 
metadata:
  title: Page title for the HEAD and OG
  description: The page description adslkfjasdlkf
  og_image:
noindex: 
sitemap:
author: Darrell Wilkins
date: 2021-10-18
---
{%- from "_njk_components/components.njk" import component -%}
<section class="dwkns-mt dwkns-container">
    {{ component('page-header', { title: title } )}}
</section>