---
title: 'Blog'
layout: _regular_page.njk
metadata:
  title: Page title for the HEAD and OG
  description: The page description adslkfjasdlkf
  og_image:
noindex: 
sitemap:
permalink: /blog/{{allPosts.slug }}/
pagination:
  data: collections.allPosts
  size: 1
  alias: allPosts
---
<section class="mx-auto my-24 max-w-screen-3xl px-u2-pad">
  <h1 class="text-4xl">{{title}}</h1>

 {%- for post in allPosts.items %}
    <article class="px-4 py-8 mt-4 bg-gray-300 rounded-xl">
      <a href="{{ post.url }}">
        <h2 class="mt-0 text-2xl hover-link"> {{ post.data.title }}</h2>
      </a>
      <p class="mt-4 text-sm">On {{ post.data.contentMetadata.publishDate | readableDate }}</p>
      <span class="inline-flex px-2 mt-4 text-sm bg-indigo-800 rounded-lg text-zinc-50">{{ post.data.contentMetadata.type }}</span>
      <span class="inline-flex px-2 mt-4 text-sm bg-red-800 rounded-lg text-zinc-50">{{ post.data.contentMetadata.category  }}</span>
    </article>
{% endfor %}
</section>