---
title: Homepage 
layout: _regular_page.njk
metadata:
  title: Page title for the <title> and OG
  description: The page description
  og_image:
noindex: true
sitemap: false
permalink: /
---
{%- from "_njk_components/components.njk" import component -%}
{# Import all components  optional: ignore missing #}
<section class="dwkns-mt">
  <div class="dwkns-container">
    <h1  class="text-4xl ">{{title}}</h1>
    {{ component('simple-block', {
        title: 'From the Simple Block Component'
      })
    }}
  </div>
</section>
