---
title: Homepage 
layout: _regular_page.njk
metadata:
  title: Page title for the <title> and OG
  description: The page description
  og_image:
noindex: true
sitemap: false
permalink: /
---
{%- from "_njk_components/components.njk" import component -%}
<section class="dwkns-mt">
  <div class="dwkns-container">
    {{ component('page-header', { title: title } )}}
  </div>
</section>